---
layout: default
title: Blog
description: Blog of cycling journey from The Netherlands to Barcelona with two bikes, two trailers a baby and a dog.
featured_image: /images/aaa-front-min.jpg
---

<section class="intro">

	<div class="wrap">
		<br>
		<br>
		<h1>A cycling trip from NL to BCN </h1>
		<h3>with two bikes, two trailers a baby and a dog.</h3>
		<br>
		<br>
		<br>
		<p>Welcome to our cycling journey. This website details our summary messages that we sent to a group of close friends and family via whatsapp chat while on the road. We have copied them here so the information is available and helpful for the wider public. Thanks for reading!</p>
		<br>
		<br>
		<img src="/images/aaa-front-min.jpg">
		<br>
		<br>
		<br>
		<h2>Trip Overview</h2>
		
		<p><iframe src="https://www.google.com/maps/d/u/1/embed?mid=1qVIkKOmGzQksTgsVbbZbIb5Y1Ov7d4Ly" width="640" height="480"></iframe></p>
		<p><strong> Total trip days:</strong> 32 1/2 3/4</p>
		<p><strong><style="background-color:#ff6347">Total kilometers by bike:</strong></p>
		<p><strong> Total kilometers by car:</strong> </p>
		<p><strong> Total accomodations needed:</strong> </p>
		<br>
		<br>
		<h2>Routing</h2>
		<p>The travelling comfort we found in this trip depended 300% on the beautiful and informative books prepared by Paul Benjaminse from <a href="https://www.cyclingeurope.nl/">Cycling Europe</a>. The dedication and attention to the user placed in every page of the book made our already complex journey smooth in terms of routing. Whenever we deviated we found trouble. Thanks Paul for all your help in this crazy dream of ours!<p>
		
		<h2>Gear</h2>
		<br>
		<br>
		<h2>Babies</h2>
		<br>
		<br>
		<h2>Dogs</h2>
		<br>
		<br>
		<h2>Daily Posts </h2>
		<p>Below you can find the blog posts for our 32 cycling days!</p>
	</div>

</section>

<section class="blog">

	<div class="content-wrap blog-wrap">

		{% for post in paginator.posts %}

		<article class="blog-post">

			<a class="blog-post__link" href="{{ post.url | relative_url }}">

				<div class="blog-post__image">
					<img src="{{ post.featured_image | relative_url }}" alt="{{ post.title }}">
				</div>

				<div class="blog-post__content">
					<div class="blog-post__info">
						<h2 class="blog-post__title">{{ post.title }}</h2>
						<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
						
					</div>
				</div>

			</a>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}
